<tr>
  <td
    class="main-block__container"
    style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6"
  >
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <p style="margin: 0">Здравствуйте!</p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <p style="margin: 0">
            У вас закончилась подписка Octo Browser. Пополните баланс
            в настройках аккаунта и продлите подписку, чтобы сохранить ваши
            профили.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <p style="margin: 0">
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="text-decoration: underline"
              >Подробная инструкция, </a
            >как пополнить баланс.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <p style="margin: 0">
            При отсутствии оплаты, ваши профили будут удалены из аккаунта после
            6 месяцев хранения.
          </p>
        </td>
      </tr>
      <!-- End Text section -->

      <!-- Text section -->
      <tr>
        <td class="main-block__wrap">
          <p style="margin: 0">Команда Octo Browser.</p>
        </td>
      </tr>
      <!-- End Text section -->
    </table>
  </td>
</tr>
